@model DA.Models.Hoadon
@{
    ViewData["Title"] = "Đặt hàng thành công";
}
<h3 class="text-danger">Đặt hàng thành công</h3>
<h4>CẢM ƠN BẠN ĐÃ ĐẶT HÀNG!!!</h4>
<p>
    Đơn hàng mã số @Model.MaHd trị giá @(Model.TongTien)đ đã được hệ thống ghi
    nhận. Chúng tôi sẽ sớm liên hệ bạn để xác nhận...
</p>
