@{
    ViewData["Title"] = "Đăng ký tài khoản";
}

@if (TempData["DangKyThatBai"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="dangkytbAlert">
        @TempData["DangKyThatBai"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    // Kiểm tra nếu thông báo thành công tồn tại
    $(document).ready(function () {
        // Set timeout để tự động ẩn alert sau 3 giây (3000ms)
        window.setTimeout(function () {
            $('.alert').fadeTo(500, 0).slideUp(500, function () {
                $(this).remove(); // Loại bỏ alert khi đã ẩn
            });
        }, 3000); // 3000ms = 3 giây
    });
</script>
<br />
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="p-3 shadow">
            <h3 class="text-center text-info">ĐĂNG KÝ TÀI KHOẢN</h3>
            <form method="post" asp-action="Register">
                <div class="my-3">
                    <label>Email</label>
                    <input class="form-control" type="email" name="email" placeholder="Nhập email" required>
                </div>
                <div class="my-3">
                    <label>Mật khẩu</label>
                    <input class="form-control" type="password" name="matkhau" placeholder="Mật khẩu" required>
                </div>
                <div class="my-3">
                    <label>Họ tên</label>
                    <input class="form-control" type="text" name="hoten" placeholder="Nhập họ tên" required>
                </div>
                <div class="my-3">
                    <label>Số điện thoại</label>
                    <input class="form-control" type="text" name="dienthoai" placeholder="Nhập số điện thoại" required>
                </div>
                <div class="d-grid">
                    <input class="btn btn-info btn-block" type="submit" value="Đăng ký">
                    <br />
                    <a asp-action="Login" class="btn btn-warning">Quay lại</a>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>